@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
  --background: #fffaf4;
  --foreground: #151515;
  --container-padding-x: 16px;
  --container-padding-y: 24px;
}

/* Definisi token Tailwind (agar bisa dipakai dengan utilitas seperti bg-[customize-name], text-[customize-name], font-[customize-name]) */
@theme inline {
  --color-background: var(--background);
}

@media (min-width: 768px) {
  :root {
    --container-padding-x: 64px;
    --container-padding-y: 32px;
  }
}

@media (min-width: 1024px) {
  :root {
    --container-padding-x: 118px;
    --container-padding-y: 48px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.container {
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
  /* padding-top: var(--container-padding-y);
  padding-bottom: var(--container-padding-y); */
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
